<link rel="stylesheet" href="../css/sessions.css">
<div>
    <h1>Login</h1>
    <a href="/api/sessions/github">
        <button class="githubButton"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="github logo" style="width: 20px; height: 20px;margin-right: 10px;display:inline;vertical-align: middle;"><p style="display:inline; white-space:nowrap;vertical-align: middle;">Login con github</p></button>
    </a>

    <form action="" id="loginForm">
        <label for="email">Email</label>
        <input type="text" name="email" />
        <br/>
        <br/>
        <label for="password">Password</label>
        <input type="password" name="password" />
        <br/><br/>
        <button type="submit">Login</button>
    </form>
    <p>¿Sin usuario?</p>
    <a href="/register">Registrate</a>
</div>

<script src="/js/login.js"></script>