<link rel="stylesheet" href="../css/profile.css">
<h1>Profile </h1>
<div>
    <p>name: {{user.name}}</p>
    <p>age:  {{user.age}}</p>
    <p>email: {{user.email}}</p>
    <p>rol: {{user.rol}}</p>
    <a href="/api/sessions/logout">
        <button>Salir</button>
    </a>
</div>

