<link rel="stylesheet" href="../css/sessions.css">
<div>
    <h1>Login</h1>
    <form action="" id="loginForm">
        <label for="email">Email</label>
        <input type="text" name="email" />
        <br/>
        <br/>
        <label for="password">Password</label>
        <input type="password" name="password" />
        <br/><br/>
        <button type="submit">Login</button>
    </form>
    <p>¿Sin usuario?</p>
    <a href="/register">Registrate</a>
</div>

<script src="/js/login.js"></script>